*{
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    background-color:whitesmoke;
    border: 1px solid white;
    margin-left:50px;
    margin-right:50px;
    padding-left:30px;
    padding-right:60px;
    
}
.item a{
    text-decoration: none;
    color:gray;
    float:right;
    padding-left:70px;
    text-transform: capitalize;
    padding-top:20px;

}
.item i{
    color: gray;
}
 .others {
    text-decoration: underline;
    padding-right:10px;

    
}
.item a:hover{
    color: orangered;
}
.logo{
    width:100px;
    height:70px;
    background-color: whitesmoke;
}
.header{
    text-transform: capitalize;
    display:grid;
    grid-auto-flow:column;
  
}
.header h2{
    padding-left:20%;
}
.header .select{
    padding-left:50%;
    margin-top:25px;
}

/* food slide */
.container {
    display: grid;
    overflow:auto;
    grid-auto-flow: column;
   
    width:72%;
    height:30%;
    margin: auto;
    margin-top:50px;
    margin-left:200px;

   
    
}
::-webkit-scrollbar{
    display: none;
}
.select i{
    border:1px solid black;
    border-radius:50px;
    margin-left:10px;
    height:50%;
    width:6%;
    padding-top:4px;
    padding-left:2px;
    background-color:#D5DEEF;

}
.container img{
    width:150px;
    height:200px;
    translate: 1s;
    float: left;
    padding-left:20px;
   
   /* ---------restaurant slide ----- */
    
}
.container2{
    display: grid;
    grid-auto-flow: column;
    overflow: auto;
    width:72%;
    height:30%;
    margin: auto;
    margin-top:50px;
    margin-left:200px;
    border-bottom:20px;
}
.container2 img{
    width:250px;
    height:200px;
    padding-left: 20px;
    border-radius:40px ;
    position: relative;
}
.container2 img:hover{
    transform: scale(0.9);
}
.cards h2{
    text-transform: capitalize;
    font-size:larger;
    padding-left:40px;

}
.cards p{
    text-transform: capitalize;
    padding-left:40px;
    font-weight:lighter;
    color: gray;
}
.cards span{
    color:white;
    border:2px solid black;
    border-radius:50px;
    background-color: green;
    
}
.cards h3{
    padding-left:40px;
    font-size:medium;
}
/* Restraunt with online food delivery */
.heading{
    text-transform: capitalize;
    padding-left:13%;

}
.heading button{
    border-color: aliceblue;
    border-radius:50rem ;
    height: 2rem;
    padding: 0 1rem 0 1rem;
    margin: 0 0.2rem 0 0.2rem;    
}
.sorted{
    text-transform: capitalize;
    font-weight: lighter;
    background-color:white;
}
.container3{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width:72%;
    height:30%;
    margin: auto;
    margin-top:50px;
    margin-left:200px;
    border-bottom:20px;
}
.cards{
    margin-top:1rem;
}
.container3  img{
    width:15rem;
    height:10rem;
    object-fit: cover;
    padding: 0 1rem 0 1rem;
    border-radius:25px ;
    position: relative;
}
.cards h2{
    text-transform: capitalize;
    font-size:larger;
    padding-left:40px;

}
.cards p{
    text-transform: capitalize;
    padding-left:40px;
    font-weight:lighter;
    color: gray;
}
.offers p{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size:x-large;


}
.offers{
    position: absolute;
    top:172%;
}
.cards span{
    color:white;
    border:2px solid black;
    border-radius:50px;
    background-color: green;
    
}
.cards h3{
    padding-left:40px;
    font-size:medium;
}
.detail{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-left:12%;
    width: 72%;
}
/* places to eat across cities */
.detail button{
    width:15rem;
    height:3rem;
    border-color: aliceblue;
    border-radius:1rem;
    border:0cap;
    padding: 0 1rem 0 1rem;
    margin: 2rem 0.2rem 0 2rem; 


}
.detail .sorted{
    font-size:15px;
    font-weight:lighter;
}
.explores{
    display: grid;
    grid-template-columns: auto auto;
    padding-left:12%;
    width:90%;
}

.explores button{
    width:30rem;
    height:3rem;
    border-color:whitesmoke;
    border-radius:1rem;
    border:0cap;
    padding: 0 1rem 0 1rem;
    margin: 2rem 0.2rem 0 2rem; 
    background-color:whitesmoke;

}
.explores .explore{
    font-size: 15px;
    font-weight: lighter;
}
.footheader{
    display: grid;
    grid-template-columns: auto auto;
    margin-top:4rem;
}
.applogo img{
    width:10rem;
    object-fit: cover;
}

/*-------------bbqhotel----------*/
.card{
    margin: 1rem 20rem 0 20rem;
    border-radius:30px;
    box-shadow: 5px 10px 10px 10px #D5DEEF;
}
.card-body h3 span{
    color:white;
    padding:2px;
    border-radius:200px;
    background-color: green;
    font-size:smaller;

}
.card-body h3 {
    font-size:smaller;
    font-weight: bold;
}
.card-body a{
    color: orangered;
    text-transform: capitalize;
    font-size: small;
    font-weight: normal;

}
.card-body #text{
    font-weight:bold;
    font-size:small;
}
.card hr{
    color: gray;
    
}
.card-body #order ,p span{
    color: grey;
    text-transform: capitalize;
}
.headers{
    margin:2rem 20rem 0 20rem;
    text-transform: capitalize;
    font-weight: bolder;
    font-size:small;
    font-family: Arial, Helvetica, sans-serif;
}
.select{
    margin-right:20px;
}
.selects i{
    border:1px solid black;
    border-radius:50px;
    margin-left:12px;
    height:50%;
    width:3%;
    padding-top:4px;
    padding-left:5px;
    background-color:#D5DEEF;
    float: right;

}
.deals{
    display: grid;
    grid-auto-flow: column;
    overflow: auto;
    width:58%;
    margin: auto;
    margin-top:50px;
    margin-left:300px;
    border-bottom:20px;

}
.deal{
    display: grid;
    grid-template-columns: auto auto;
    border:1px solid #EAEBE7;
    margin:0 2rem 0 2rem;
    border-radius:20px;
    width:18rem;
    height:5rem;
    padding: 0 0 0 2rem;
}
.deal img{
    width:4rem;
    padding-top:0.5rem;
}
.deal h2{
    font-size: medium;
    font-weight: bold;
    padding-top: 0.5rem;
}
.menu{
    text-align: center;
    color: gray;
    font-size:x-small;
    font-weight:lighter;
    margin-top:2rem;
    text-transform: uppercase;
}
.input-group{
    width:58%;
    margin: auto;
    margin-top:50px;
    margin-left:350px;
    border-bottom:20px;
    margin-right: 300px;
    
    
}
.dishes , .footer , .headers ,.card{
width:58%;
margin: auto;
margin-top:50px;
margin-left:350px;
border-bottom:20px;
margin-right: 300px;
}

.form-floating{
    width:58%;
    margin: auto;
    margin-left:300px;
    margin-right: 700px;
    border-bottom:20px;
}
.form-floating input{
    background-color: #D5DEEF;
}
.form-floating label{
    margin-left:30%;
    font-weight: lighter;
    font-size: medium;
}
.input-group span{
    background-color: #D5DEEF;
}

.dishes{
    background-color:#EAEBE7;
}
.dish-list ,.dishlist2{
    border:1px solid #EAEBE7 ;
    background-color:whitesmoke;
    margin-top:1rem;
    padding-top: 0.5rem;
    font-size:large;
    font-weight: bolder;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-transform: capitalize;
}
.dish-list  span ,.dishlist2 span{
    color: black;
    float:right;
    size:50rem;
    padding-top:0.3rem;
    padding-right:2rem;
    transition: 0.3s;
}
.dish-items{
    display: grid;
    grid-template-columns: auto auto;
    background-color:whitesmoke ;
    display: none;

}
.dish-list.open ~ .dish-items{
    display:grid;
}
.dishlist2.open ~ .dish-items{
    display: grid;
}
.dish-items.open ~ .span{
    transform: rotate(-180deg);
}
.dish-img{
    position: relative;
}
.dish-img img{
    width:85%;
    height:75%;
    padding-top:30px;
    object-fit: cover;
    display: block;

}
.addbutton button{
    border:3px solid white;
    border-radius: 10px;
    color: green;
    text-transform: uppercase;
    width:200%;

}
.addbutton{
    position: absolute;
    top:70%;
    left:20%;

}

.dish-details h5{
    color: #032030;
    text-transform: capitalize;

}
.dish-details {
    width: 75%;
}
.dish-details #price{
    color: black;
    font-weight: bold;
}
.dish-details p{
    color: gray;
    font-weight: lighter;
}
.dish-details  span{
    color: green;

}
/*----------footer-------------*/
.footer{
    background-color: #D5DEEF;

}
.license{
    display: grid;
    grid-template-columns:auto auto;
    margin-left:10px;
}
.license p{
    padding-top:5px;
    color:gray;
    font-weight: lighter;
    padding-right:500px;
    text-transform: capitalize;
}
.license img{
    width:50%;
    padding-top:10px;
}
.location-details{
    margin-left: 10px;
}
.location-details #name{
    color: gray;
    font-weight: bold;
    text-transform: capitalize;

}
.location-details #branch{
    color: gray;
    font-weight: lighter;
    font-size:small;
    text-transform: capitalize;

}
.location-details #location{
    color: gray;
    font-weight: lighter;
    font-size:xx-small;
    text-transform: capitalize;
}
.footheader{
    background-color: #D5DEEF;
}
.apps{
    text-align: center;

}
.apps p{
    font-size:medium;
    font-weight: bolder;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-transform: capitalize;

}
#len{
    background-color: red;
    width: 200px;
}

/*-------------footer page in index-------------*/
.footersection{
    background-color: black;
    height:50%;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.footerdetails img {
    width: 15%;
    height:15%;
    background-color: black;
    padding-left:90px;
    margin-top:80px;

}
.footerdetails #addrs{
    padding-left: 90px;
    color: gray;
    font-weight: lighter;
    text-transform: capitalize;
}
.footerdetails h5{
    text-transform: capitalize;
    font-weight: bold;
    font-size: large;

}
.footerdetails p{
    color: gray;
    font-weight: lighter;
    text-transform: capitalize;
}

