

.nav{
    background-color:whitesmoke;
    border: 1px solid white;
    margin-left:50px;
    margin-right:50px;
    padding-left:30px;
    padding-right:60px;
    
}
.item a{
    text-decoration: none;
    color: black;
    float:right;
    padding-left:70px;
    text-transform: capitalize;
    padding-top:20px;

}
 .others{
    color: blue;

    
}
.item a:hover{
    color: orangered;
}
.logo{
    width:100px;
    height:70px;
    background-color: whitesmoke;
}
.header{
    text-transform: capitalize;
    display:grid;
    grid-auto-flow:column;
  
}
.header h2{
    padding-left:20%;
}
.header .select{
    padding-left:50%;
    margin-top:25px;
}

/* food slide */
.container{
    display: grid;
    overflow:auto;
    grid-auto-flow: column;
   
    width:72%;
    height:30%;
    margin: auto;
    margin-top:50px;
    margin-left:200px;

   
    
}
::-webkit-scrollbar{
    display: none;
}
.container img{
    width:150px;
    height:200px;
    translate: 1s;
    float: left;
    padding-left:20px;
   
   /* ---------restaurant slide ----- */
    
}
.container2{
    display: grid;
    grid-auto-flow: column;
    overflow: auto;
    width:72%;
    height:30%;
    margin: auto;
    margin-top:50px;
    margin-left:200px;
    border-bottom:20px;
}
.container2 img{
    width:250px;
    height:200px;
    padding-left: 20px;
    border-radius:40px ;
    position: relative;
}
.card h2{
    text-transform: capitalize;
    font-size:larger;
    padding-left:40px;

}
.card p{
    text-transform: capitalize;
    padding-left:40px;
    font-weight:lighter;
    color: gray;
}
.card span{
    color:white;
    border:2px solid black;
    border-radius:50px;
    background-color: green;
    
}
.card h3{
    padding-left:40px;
    font-size:medium;
}
/* Restraunt with online food delivery */
.heading{
    text-transform: capitalize;
    padding-left:13%;

}
.heading button{
    border-color: aliceblue;
    border-radius:50rem ;
    height: 2rem;
    padding: 0 1rem 0 1rem;
    margin: 0 0.2rem 0 0.2rem;    
}
.sorted{
    text-transform: capitalize;
    font-weight: lighter;
    background-color:white;
}
.container3{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width:72%;
    height:30%;
    margin: auto;
    margin-top:50px;
    margin-left:200px;
    border-bottom:20px;
}
.card{
    margin-top:1rem;
}
.container3  img{
    width:15rem;
    height:10rem;
    object-fit: cover;
    padding: 0 1rem 0 1rem;
    border-radius:25px ;
    position: relative;
}
.card h2{
    text-transform: capitalize;
    font-size:larger;
    padding-left:40px;

}
.card p{
    text-transform: capitalize;
    padding-left:40px;
    font-weight:lighter;
    color: gray;
}
.card span{
    color:white;
    border:2px solid black;
    border-radius:50px;
    background-color: green;
    
}
.card h3{
    padding-left:40px;
    font-size:medium;
}


